/* body{

  
  
} */
.example {
  background-color: black;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;
  margin-left: 38%;
  
 
}

element.style {
  float: left;
  margin-right: 325px!important;
}



  




/* CSS */


