/* body {margin:2em;}
.example {
  background-color: black;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;
  margin-left: 38%;
  /* padding-left: 265px; */
/* }

element.style {
  float: left;
  margin-right: 325px!important;
} */ 

